* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    background: #fff;
    color: #222;
    max-height: 75vh;
    height: 100%;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin-right: 15px;
    margin-top: 5px;
}

ul > li {
    padding: 10px;
}

li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: small;
    color: inherit;
}

li > a:hover {
    text-decoration: underline;
}

.apps-list {
    font-size: 18px;
    margin-top: 7px;
}

.profile-pict {
    max-width: 32px;
    width: 100%;
    border-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-icons i { 
    position: absolute; 
} 

.search-icons {
    margin: 20px;
}

.icon {
    padding: 17px 20px;
    min-width: 40px;
    color: lightgray;
    font-size: 14px;
}

.search-field {
    padding: 10px;
}

input[type=search] {
    min-width: 590px;
    width: 100%;
    padding: 15px 50px;
    border-radius: 50px;
    border: 1px solid lightgray;
}

input[type=search]:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

input[type=search]:focus {
    outline: none;
}

.search-buttons button {
    padding: 10px 20px;
    border: 1px solid transparent;
    background-color: #f1f1e8;
    color: #777;
    border-radius: 5px;
    margin: 5px;
    font-size: 15px;
}

.search-buttons button:hover {
    border: 1px solid lightgray;
    cursor: pointer;
}

.suggestion {
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-size: small;
}

.suggestion a {
    margin: 0 5px;
    text-decoration: none;
}

.suggestion a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f1f1e8;
    color: #777;
    font-size: 14px;
    width: 100%;
    height: 21%;
}

.country {
    padding: 14px 40px;
    border-bottom: 1px solid lightgray;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    padding: 14px 30px;
}

.security {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    padding: 14px 30px;
}

.about a,
.security a {
    margin: 3px 10px;
    color: #777;
    text-decoration: none;
}

.about a:hover,
.security a:hover {
    text-decoration: underline;
}